*.suo
*.exe
*.pdb
*.cache
*.dll
*.obj

*.user

*.aps

*.pch

*.vspscc

*_i.c

*_p.c

*.ncb


*.tlb

*.tlh

*.bak

*.cache

*.ilk

*.log
[Rr]elease*/
[Dd]ebug*/
/[Pp]ackages/
.vs*/

*.xml
*.pri
*.txt
*.md
